---
apiVersion: v1
kind: Namespace
metadata:
  name: d2d
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: activity-discovery
  namespace: d2d
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: activity-discovery
    spec:
      containers:
      - env:
        - name: KAFKA_BOOTSTRAP_SERVERS
          value: "kafka:9092"
      - name: activity-discovery
        image: #IMAGE
        ports:
        - name: http-port
          containerPort: 7001
      imagePullSecrets:
      - name: regcred
---
apiVersion: v1
kind: Service
metadata:
  name: activity-discovery
  namespace: d2d
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 7001
  selector:
    app: activity-discovery
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: activity-discovery-ingress
  namespace: d2d
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - host: ad773fd80d17811e8bbc302714c5074c-205578388.ap-south-1.elb.amazonaws.com
    http:
      paths:
      - path: /d2d
        backend:
          serviceName: activity-discovery
          servicePort: 80
---
apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: regcred
  selfLink: /api/v1/namespaces/tools/secrets/regcred
data:
  .dockerconfigjson: eyJhdXRocyI6eyIxMC4xNTQuMy4xNDA6ODEyMyI6eyJ1c2VybmFtZSI6IkQyRCIsInBhc3N3b3JkIjoiVGVzdEAxMjM0IiwiYXV0aCI6IlJESkVPbFJsYzNSQU1USXpOQT09In19fQ==
